.img1{
    width: 29%;
    
    
    
    
    
    margin-top: 30px;
}

.img2{
    width: 71%;
    
    
    
    
    align-items: right;
    
}
.footer{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, );
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}